@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: "calibri_light";
	src: url('../fonts/CalibriL.ttf');
}

@font-face{
	font-family: "calibri_bold";
	src: ('../fonts/calibrib.ttf');	
}

@font-face{
	font-family: "helvetica_light";
	src: url(../fonts/HelveticaNeue-Light.otf);
}

body{
	background-color: #1b2337;
	min-height: 100%;
	height: 100%;	
}

#wrapper{
	width: 100%;
	height: auto;
	min-height: 100%;
	min-width: 1000px;
	top: 0px;
	left: 0px;
}

#header{
	position: absolute;
	width: 100%;
	height: 45px;
	top: 0px;
	left: 0px;
	min-width: 1000px;
}

#logo{
	position: absolute;
	width: 50px;
	height: 30px;
	left: 65px;	
}

#logo h1{
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: calibri_light;
	color: #c2c2c3;
	font-size: 18px;
}

#logo h2{
	position: absolute;
	left: 31px;
	top: -15px;
	font-family: Calibri;
	color: #c2c2c3;
	font-size: 25px;
}

#login_box{
	width: 400px;
	height: 200px;
	border-radius: 4px;
	background-color: #14171f;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
	position: absolute;	
	padding-top: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

#forgot_password{
	width: 400px;
	height: 20px;
	text-align: center;
	margin-top: 30px;
}

#forgot_password a{
	font-family: helvetica_light;
	text-decoration: none;
	color: #ffffff;	
	left: 50%;
	font-size: 14px;
}

#labelwrapper{
	position: relative;
	width: 100%;
	height: 35x;
	line-height: 29px;
	margin-top: 20px;
}

.textbox{
	position: relative;
	width: 350px;
	height: 40px;
	font-size: 16px;
	left: 50%;
	margin-top: 15px;
	margin-left: -175px;
	border: none;
	border-radius: 4px;
	background-color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

#login{
	background-color: #2e3851;
	color: #ffffff;
}

#login:hover{
	background-color: #1b2337;
}