@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: "calibri_light";
	src: url('../fonts/CalibriL.ttf');
}

@font-face{
	font-family: "calibri_bold";
	src: ('../fonts/calibrib.ttf');	
}

@font-face{
	font-family: "helvetica_light";
	src: url(../fonts/HelveticaNeue-Light.otf);
}

body{
	background-color: #efefef;
	min-height: 100%;
	height: 100%;
}

#home{
	background: url("../images/homebg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wrapper{
	width: 100%;
	height: auto;
	min-height: 100%;
	min-width: 1000px;
	top: 0px;
	left: 0px;
}

#header{
	position: fixed;
	width: 100%;
	height: 45px;
	top: 0px;
	left: 0px;
	min-width: 1000px;
	background-color: #14171f;	
	box-shadow:0px 0px 14px #000000;
}

#logo{
	position: absolute;
	width: 50px;
	height: 30px;
	left: 65px;	
}

#logo h1{
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: calibri_light;
	color: #c2c2c3;
	font-size: 18px;
}

#logo h2{
	position: absolute;
	left: 31px;
	top: -15px;
	font-family: Calibri;
	color: #c2c2c3;
	font-size: 25px;
}

.main_button{
	float: left;
	position: relative;
	left: 200px;
	background-color: #67de67;
	width: 150px;
	height: 40px;	
	border: 0px solid;
	border-radius: 3px;
	border-color: #0f1117;
	color: #000;
	text-align: center;
	line-height: 40px;
	font-family: Calibri;
	font-weight: bold;	
	font-size: 17px;
}

.main_button:hover{
	background-color: #43bd43;	
}

#content{
	position: absolute;
	width: 100%;
	height: 40%;
	top: 30%;
	left: 0px;
}

#content a{
	text-decoration: none;	
}

#title{
	position: relative;
	width: 600px;
	left: 200px;
	color: #ffffff;
	font-family: Calibri;
	font-weight: bold;
	font-size: 55px;
	text-shadow: 2px 2px 2px #000000;
}

#description{
	position: relative;
	margin-top: 20px;
	width: 500px;
	height: 200px;
	left: 200px;
	font-family: Calibri;
	color: #ffffff;
	font-size: 22px;
	font-weight: 600;
	text-shadow: 1px 1.5px 1.5px #000000;
}

.contribute_button{
	position: absolute;
	background-color: #14171f;	
	border: 0px solid;
	border-radius: 3px;
	border-color: #0f1117;
	color: #eeeeee;
	text-align: center;
	font-family: Calibri;
}

#home_contribute_button{
	margin-left: 10px;
}

#about_contribute_button{
	width: 200px;
	height: 40px;
	line-height: 40px;
	left: 50%;
	margin-left: -100px;
}

#contribute_button:hover{
	background-color: #1d222d;	
}

#login{
	position: absolute;
	height: 45px;
	width: 90px;
	right: 70px;
	font-family: Calibri;
	line-height: 45px;
	text-align: center;
	padding-left: 15px;
	color: #eeeeee;
}

#login_logo{
	position: absolute;
	background: url(../images/login.png);
	width: 31px;
	height: 35px;
	top: 2px;
	left: 8px;
}

#logout_logo{
	position: absolute;
	background: url(../images/logout.png);
	width: 23px;
	height: 25px;
	top: 10px;
	left: 8px;
}

#login:hover{
	background-color: #1d222d;
}

#about_content{
	position: absolute;
	top: 80px;
	width: 1000px;
	margin-left: -500px;
	left: 50%;	
	z-index: -1;
	font-family: helvetica_light;
}

#about_content h1{
	text-align: center;
	font-weight: lighter;
	font-size: 40px;	
}

#about_content h2{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#about_content h3{
	font-size: 15px;
	font-weight: lighter;
}

#notification_content{
	position: absolute;
	top: 80px;
	width: 1000px;
	height: 400px;
	margin-left: -500px;
	left: 50%;	
	z-index: -1;
	font-family: helvetica_light;
}

#notification_content h1{
	text-align: center;
	font-weight: lighter;
	font-size: 30px;	
}

#donation{
	position: absolute;
	right: -50px;
	text-align: right;
	width: 200px;
	height: 100px;
}

#donation h4{
	font-weight: bolder;
	margin-top: 10px;
	font-family: Calibri;
	font-size: 30px;
}

#donation h5{
	font-size: 18px;
	margin-top: -43px;
	font-weight: lighter;
}

#contribute{
	position: absolute;
	width: 100%;
	height: 550px;
	top: 50%;
	margin-top: -275px;
	left: 0px;
	background: url(../images/contributebg.jpg) no-repeat;
	background-size: cover;
	z-index: -1;
	min-width: 1000px;
}

#contribute_description{
	position: absolute;
	width: 500px;
	height: 400px;
	left: 50%;
	margin-left: -500px;
	margin-top: -200px;
	top: 50%;
	font-family: helvetica_light;
	color: #ffffff;
}

#contribute_description h1{
	text-align: center;
	font-weight: lighter;
}

#contribute_description h2{
	font-size: 14px;
	font-weight: lighter;
}

#button_box{
	position: absolute;
	width: 500px;
	height: 400px;
	left: 50%;
	margin-top: -200px;
	top: 50%;
}

.contribution_button{
	background-color: #67de67;
	border-radius: 5px;
	color: #000000;
	font-family: helvetica_light;
	position: absolute;
	width: 350px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: -25px;
	margin-left: -175px;
}

.contribution_button:hover{
	background-color: #43bd43;
}


#dro_button{
	top: 30%;
	left: 50%;
}

#volunteer_button{
	top: 50%;
	left: 50%;
}

#donate_button{
	top: 70%;
	left: 50%;
}

#donate_button a{
	text-decoration: none;	
}

#form_content{
	position: absolute;
	width: 1000px;
	left: 50%;
	top: 0px;
	z-index: -1;
	margin-left: -500px;
	min-height: 100%;
	//background-color: #ffffff;
	font-family: helvetica_light;
}

#form_content h1{
	text-align: center;
	padding-top: 65px;
	font-size: 40px;
	font-weight: lighter;
}

#progress_bar{
	width: 70%;
	height: 50px;
	position: absolute;
	//background-color: #ccc;
	border-bottom: 1px solid;
	border-bottom-color: #545d75;
	left: 50%;
	margin-left: -35%;
}

#form{
	width: 60%;
	height: 100px;
	position: relative;
	//background-color: #ccc;
	top: 120px;
	left: 50%;
	margin-left: -30%;
}

#form2{
	width: 60%;
	height: 100px;
	position: relative;
	//background-color: #ccc;
	top: 20px;
	left: 50%;
	margin-left: -30%;
}

.bullet_number1{
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 60px;
	bottom: -25px;
	margin-left: -17.5px;
	line-height: 35px;
	left: 25%;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	background-color: #a2a2a2;
	left: 20%;
}

.bullet_number2{
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 60px;
	bottom: -25px;
	margin-left: -17.5px;
	line-height: 35px;
	left: 25%;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	background-color: #a2a2a2;
	left: 50%;
}

.bullet_number3{
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 60px;
	bottom: -25px;
	margin-left: -17.5px;
	line-height: 35px;
	left: 25%;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	background-color: #a2a2a2;
	left: 80%;
}

#selected_bullet{
	background-color: #f33232;
}

.bullet_description{
	width: 250px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: -35px;
	margin-left:-125px;
	color: #000;
	text-align: center;
	font-size: 16px;
}

.textbox{
	background-color: #cfcdcd;
	border-style: solid;
	border-width: 1px;
	border-color: #919191;
	margin-right: 0px;
	position: absolute;
	width: 400px;
	height: 25px;
	font-size: 15px;
	right:0px;
	padding-left: 10px;
	padding-right: 10px;
}

.dropdown_menu{
	background-color: #cfcdcd;
	border-style: solid;
	border-width: 1px;
	border-color: #919191;
	margin-right: 0px;
	position: absolute;
	width: 421px;
	height: 25px;
	font-size: 15px;
	right:0px;
	padding-left: 10px;
	padding-right: 10px;
}

.textbox_label{
	position: relative;
	width: 100%;
	height: 29px;
	line-height: 29px;
	margin-top: 20px;
	//background-color: #ffffff;
}

.continue_button{
	width: 250px;
	height: 35px;
	background-color: #f33232;
	text-align: center;
	border-radius: 4px;
	color: #ffffff;	
	line-height: 35px;
	position: relative;
	left: 50%;
	margin-left: -125px;
	margin-top: 40px;
}

.back_button{
	width: 250px;
	height: 35px;
	text-align: center;
	color: #000;	
	line-height: 35px;
	position: relative;
	left: 50%;
	margin-left: -125px;
	font-size: 13px;
}

#form a{
	text-decoration: none;	
}

#form2 a{
	text-decoration: none;	
}

.textarea{
	background-color: #cfcdcd;
	border-style: solid;
	border-width: 1px;
	border-color: #919191;
	margin-right: 0px;
	position: absolute;
	width: 400px;
	height: 120px;
	font-size: 15px;
	right:0px;
	padding-left: 10px;
	padding-right: 10px;
	resize: none;
}

.textarea_label{
	position: relative;
	width: 100%;
	height: 120px;
	line-height: 29px;
	margin-top: 20px;
}

.notification{
	position: relative;
	width: 700px;
	height: 160px;
	background-color: #e3e2e2;
	left: 50%;
	margin-left: -350px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #b0b0b0;
	padding-left: 40px;
	padding-right: 20px;
	padding-top: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

.bullet{
	width: 35px;
	height: 35px;
	background: #f33232;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	line-height: 35px;
	text-align: center;
	color: #ffffff;
	position: absolute;
}

#notif_bullet{
	left: -17.5px;
	top: 50%;
	margin-top: -17.5px;
}

#notif{
	position: relative;
	margin-bottom: 20px;
}

.menu{
	left: 50%;
	text-align: center;
	line-height: 35px;
	color: #ffffff;
	font-family: helvetica_light;
	font-weight: lighter;
	font-size: 15px;
	background-color: #222C4C;
	width: 200px;
	height: 35px;
	position: absolute;
	bottom: 0px;
}

.menu:hover{
	background-color: #14171f;	
}

#menu_1{
	left: 50%;
	margin-left: -350px;	
	border-top-left-radius: 4px;	
}

#menu_2{
	left: 50%;
	margin-left: -150px;		
}

#menu_3{
	left: 50%;
	margin-left: 50px;	
	border-top-right-radius: 4px;		
}

#sidebar{
	width: 200px;
	height: 100%;
	min-height: 500px;
	background-color: #dadada;
	position: fixed;
	left: 0px;
	top: 0px;
	box-shadow:0px 0px 16px #000000;
	z-index: -1;
	font-family: helvetica_light;
}

#sidebar_wrapper{
	width: 200px;
	position: relative;
	left: 0px;
	top: 45px;
}

#sidebar_wrapper a{
	text-decoration: none;	
	color: #000;
}

.category{
	position: relative;
	width: 200px;
	height: 30px;
	background-color: #afacb2;
	line-height: 30px;
	padding-left: 30px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
	font-weight: bold;
}

#triangle{
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 8px solid #f33232;
	border-bottom: 8px solid transparent;	
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 15px;
}

.category_menu{
	position: relative;
	width: 200px;
	height: 45px;
	line-height: 45px;
	padding-left: 40px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.category_menu2{
	position: relative;
	width: 200px;
	height: 45px;
	line-height: 45px;
	padding-left: 60px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.category_menu:hover{
	background-color: #c6c6c6;	
}

.selected_menu{
	background_color: #14171f;	
}

#selected_category_menu{
	background-color: #c6c6c6;
}

.admin_content{
	position: absolute;
	z-index: -1;
	width: calc(100% - 220px);
	height: calc(100% - 60px);
	box-sizing: border-box;
	//background-color: #ffffff;
	margin-left: 200px;
	margin-top: 45px;
	overflow-x: scroll;
	overflow-y: scroll;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

#dropdown_menu1{
	background-color: #cfcdcd;
	border-style: solid;
	border-width: 1px;
	border-color: #919191;
	margin-right: 0px;
	position: absolute;
	width: 200px;
	height: 25px;
	font-size: 15px;
	right:222px;
	padding-left: 10px;
	padding-right: 10px;
}

#dropdown_menu2{
	background-color: #cfcdcd;
	border-style: solid;
	border-width: 1px;
	border-color: #919191;
	margin-right: 0px;
	position: absolute;
	width: 200px;
	height: 25px;
	font-size: 15px;
	right:0px;
	padding-left: 10px;
	padding-right: 10px;
}

::-webkit-input-placeholder {
   color: #666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666;  
}

:-ms-input-placeholder {  
   color: #666;  
}

#card{
	position: absolute;
	width: 169px;
	height: 32px;
	background: url(../images/Capture.PNG);
	z-index: 1;	
	right: 0px;
	top: 0px;
}

#card2{
	position: absolute;
	width: 50px;
	height: 32px;
	background: url(../images/CVV.PNG);
	z-index: 1;	
	right: 0px;
	top: -2px;
}

#received_button{
	width: 100px;
	height: 40px;
	position: absolute;
	background-color: #cfcdcd;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	border-color: #999;
	border-width: 1px;
	border-style: solid;
	right: 45px;
	top: 15px;
	color: #000;
}

#received_button:hover{
	background-color: #b9b9b9;	
}

#confirmation_background{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #14171f;
	z-index: 1;
	top: 0px;
	left: 0px;
	filter:alpha(opacity=50); /* IE */
    -moz-opacity:0.5; /* Mozilla */
    opacity: 0.5; /* CSS3 */	
}

#confirmation_box{
	width: 450px;
	height: 230px;
	background-color: #FFF;
	border-radius: 5px;
	left: 50%;
	margin-left: -225px;
	top: 20%;
	z-index: 99;
	position: fixed;
	font-family: helvetica_light;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

#confirmation_box h1{
	font-weight: lighter;	
}

#confirmation_box h2{
	font-weight: lighter;	
	font-size: 16px;
}

#confirmation_textbox{
	width: 100%;	
	height: 30px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #bdbdbd;
	background-color: #f8f8f8;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

[class*='close-'] {
  color: #777;
  font: 16px/100% arial, sans-serif;
  position: absolute;
  right: 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 15px;
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

.confirm_button{
	width: 250px;
	height: 35px;
	background-color: #ef4646;
	text-align: center;
	border-radius: 4px;
	color: #ffffff;	
	line-height: 35px;
	position: relative;
	left: 50%;
	margin-left: -125px;
	top: 10px;
}

#confirmation_box a{
	text-decoration: none;	
}

.map{
	width: 900px;
	height: 540px;
	background: url(../images/map.jpg);
	position: absolute;
	background-color: #FFF;
	left: 50%;
	margin-left: -450px;
	top: 50%;
	margin-top: -270px;
}

.map2{
	width: 900px;
	height: 540px;
	background: url(../images/map2.jpg);
	position: relative;
	left: 50%;
	margin-left: -450px;
	top: 50%;
	margin-top: -310px;
}

.bluepin{
	width: 34px;
	height: 57px;
	background: url(../images/blue.png);
}

.redpin{
	width: 34px;
	height: 57px;
	background: url(../images/red.png);
}

#redpin1{
	position: absolute;
	left: 270px;
	top: 200px;	
}

#redpin2{
	position: absolute;
	left: 600px;
	top: 60px;	
}

#bluepin1{
	position: absolute;
	left: 580px;
	top: 270px;	
}

/******* TAMBAHAN *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.title_admin{
	color: #4d4d4d;
	font-family: helvetica_light;
}

.title_admin h2{
	font-weight: lighter;	
}

.op_order{
	float: left;
}

.search_box{
	float: right;
	margin-bottom: 30px;
}
.search {
	padding:8px 15px;
	background:rgba(50, 50, 50, 0.2);
	border:0px solid #dbdbdb;
}
.button-search {
	position:relative;
	padding:6px 15px;
	left:-8px;
	border:2px solid #f33232;
	background-color:#f33232;
	color:#fafafa;
}
.button-search:hover  {
	background-color:#fafafa;
	color:#f33232;
}


.map-thumb {
	/* border: 1px solid #999; 
	background: #fff;  */
	padding:0px 0 10px 0px;
	font-size: 20px;
	text-align: left;
	float: right;
}
.map-thumb-border {
	/* border: 1px solid #999; 
	background: #fff;  */
	padding:20px 70px 0 10px;
	width: 246px;
	text-align: center;
	float: left;
}
.add_support_button{
	width: 100px;
	height: 35px;
	background-color: #f33232;
	text-align: center;
	border-radius: 4px;
	color: #ffffff;	
	line-height: 35px;
	position: relative;
	left: 50%;
	margin-left: -125px;
}
.note{
	font-style: Italic;
	font-size: 12px;
}
.seratus{
	font-size: 24px;
	font-style: Bold;
}
.green{
	color: #28cc1b;
	font-size: 15px;
}
.red{
	color: #f33232;
	font-size: 15px;
}
.blue{
	color: #0c00ff;
	font-size: 15px;
}
.left{ float: left; }
.right{ float: right; }
.clear { clear: both }
.admin_content a{
	text-decoration: none;	
}

#mapping_wrapper{
	left: 50%;
	margin-left: -450px;
	width: 1000px;
	height: 500px;
	position: absolute;
}

#mapping_wrapper h1{
	font-family: helvetica_light;
	font-weight: lighter;	
}

.map_notif{
	width: 301px;
	height: 143px;
	background:url(../images/notif.png);
	position: absolute;
	top: -150px;	
	display: none;
}

#vehicle_wrapper{
	width: 100%;
	height: 500px;
	position: absolute;
	//background-color: #333;
	left: 30px;
	top: 50px;	
	font-family: helvetica_light;
}

.info{
	width: 250px;
	height: 250px;
	background: #F9F9F9;
	border: 1px solid #CCC;
	float: left;
	margin: 10px;
	text-align: center;
}

.info a{
	text-decoration: none;	
	color: #000;
}

.info h1{
	font-size: 70px;
}

.info h2{
	font-size: 16px;
	font-weight: lighter;
}

.info_header{
	width: 250px;
	height: 35px;
	background: #CCC;
	position: relative;	
	border-bottom: 1px solid #999;
	line-height: 35px;
	font-size: 16px;
}

#logistic1, #logistic2, #logistic3{
	display: none;
}

#add1, #add2{
	display: none;	
}

#hidden{
	background: rgba(10, 77, 112, 0);
	border: none;
}

#add_air2, #add_air3, #add_air4, #add_air5{
	display: none;
}

#air8, #air9, #air10, #air11, #air12{
	display: none;
}

.instruction, .instruction1, .instruction2, .instruction3, .instruction4, .instruction5{
	position: absolute;
	width: 200px;
	//background: #fff;
	left: -250px;
	font-size: 13px;
	color: red;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 17px; 
	display: none;
}

.ask, .ask1, .ask2, .ask3, .ask4, .ask5{
	position: absolute;
	left: -30px;
	font-size: 15px;
	color: red;
	padding-left: 5px;
	padding-right: 5px;
	border: 0px solid;
	cursor: pointer;
}